*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

/* Header */

header {
    width: 100%;
    height: 22rem;
    background:  url(../Referencias/Header1.png);
    background-size: cover;
    background-attachment: fixed;
}

.botton_parent {
    font-size: 2.1rem;
    display: flex;
    justify-content: center;
    padding: 28rem 0rem;
    font-weight: 800;
}

.botton {
    display: inline-block;
    width: 35rem;
    height: 7.5rem;
    color: black;
    border-radius: 3rem;
    padding: 2.0rem;
    margin-right: 100px;
    box-shadow: 5px 5px rgba(0.1,0.1,0.1,0.1);
}

#botton_1 {
    background: linear-gradient(to bottom , #fc3b3b, #ffffff76);
    padding: 0px 0px 0px 140px;
}

#botton_2 {
    background: linear-gradient(to bottom , #59A1FC, #ffffff76);
    padding: 0px 0px 0px 100px;
}

.botton_parent img {
    width: 6rem;
    height: 5.3rem;
    margin-left: 2rem;
    margin-top: 0.3rem;
}

/* Titulo */

.titulo {
    background: linear-gradient(to bottom, #BBCBF4, #ffffff);
    padding: 1.5rem 0rem 1.5rem 0rem;
    margin: 22rem 10rem 4rem ;
}

.titulo h2 {
    color: black;
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
}

/* Subtitulos */

.subtitulo h2 {
    color: black;
    font-size: 2.3rem;
    text-align: left;
    margin: 6rem 30rem 3rem 30rem;
}

/* Niveles */

.contenedor {
    display: flex;
    margin: 0rem 30rem 6rem 30rem;
    justify-content: center;
    text-align: justify;
    font-size: 2rem ;
}

.niveles {
    border-radius: 2rem;
    width: 150rem;
    height: 18rem;
    display: flex;
    align-items: center;
}

.niveles img {
    height: 12rem;
    width: 15rem;
    margin: 2.5rem 5rem;
}

.niveles p {
    margin-right: 5rem;
    display: flex;
}

#nv_1 {
    background: #5babf559;
}

#nv_2 {
    background: #83d2b160;
}

#nv_3 {
    background: #f8dbf986;
}

#nv_4 {
    background: #cbfefe;
}

#nv_5 {
    background: #af430d38;
}

#nv_6 {
    background: #4f4c4b34;
}

#nv_7 {
    background: #f6382a59;
}

#nv_8 {
    background: #daa35b46;
}

#nv_9 {
    background: #4e3d1444;
}

#nv_10 {
    background: #8fc7f7b2;
}

/* footer */

footer{
    background: #949494;
    height: 17vh;
    text-align: center;
    font-size: 1.3rem;
}

.footer__social{
    display: flex;
    padding-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.footer__link img {
    width: 6rem;
    height: 6rem;
    margin-top: 1.3rem;
    margin-right: 6rem;
    margin-bottom:1.3rem;
    display: flex;
}

.footer__copyright{
    padding-top: 1rem;
    border-top: 2px solid #918484;
    text-align: center;
}