*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

/* Header */

header {
    width: 100%;
    height: 22rem;
    background:  url(../Referencias/Header1.png);
    background-size: cover;
    background-attachment: fixed;
}

.botton_parent {
    font-size: 2.1rem;
    display: flex;
    justify-content: center;
    padding: 28rem 0rem;
    font-weight: 800;
}

.botton {
    display: inline-block;
    width: 35rem;
    height: 7.5rem;
    color: black;
    border-radius: 3rem;
    padding: 2.0rem;
    margin-right: 100px;
    box-shadow: 5px 5px rgba(0.1,0.1,0.1,0.1);
}

#botton_1 {
    background: linear-gradient(to bottom , #fc3b3b, #ffffff76);
    padding: 0px 0px 0px 140px;
}

#botton_2 {
    align-items: center;
    background: linear-gradient(to bottom , #3DBD00, #ffffff); 
    padding: 0px 0px 0px 130px;
}

.botton_parent img {
    width: 6rem;
    height: 5.3rem;
    margin-left: 2rem;
    margin-top: 0.3rem;
}

/* Titulo */

.titulo {
    background: linear-gradient(to bottom, #BBCBF4, #ffffff);
    padding: 1.5rem 0rem 1.5rem 0rem;
    margin: 22rem 10rem 4rem ;
}

.titulo h2 {
    color: black;
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
}

/* Personajes */

.personajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem 7rem;
}

.galeria-port {
    display: inline-block;
    width: 23rem;
    height: 23rem;
    border-radius: 23rem;
    box-shadow: 5px 5px rgba(0.1,0.1,0.1,0.1);
    margin: 3rem 7rem 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 2.0rem ;
    margin-bottom: 10rem;
}

.galeria-port p {
    margin-top: 5rem;
}

.galeria-port img {
    width: 18rem;
    height: 20rem;
    padding: 10px 10px 10px 10px;
}

#img1 {
    background: #5babf541;
}

#img2 {
    background: #dfdb6f6e;
}

#img3 {
    background: #fbb7a04d;
}

#img4 {
    background: #c5dfb956;
}

#img5 {
    background: #FDECD4;
}

#img6 {
    background: #E2FBC9;
}

#img7 {
    background: #89766f63;
}

#img8 {
    background: #b9dff88e;
}

/* footer */

footer{
    background: #949494;
    height: 17vh;
    text-align: center;
    font-size: 1.3rem;
}

.footer__social{
    display: flex;
    padding-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.footer__link img {
    width: 6rem;
    height: 6rem;
    margin-top: 1.3rem;
    margin-right: 6rem;
    margin-bottom:1.3rem;
    display: flex;
}

.footer__copyright{
    padding-top: 1rem;
    border-top: 2px solid #918484;
    text-align: center;
}